[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pusher = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
debugpy = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
